add_newline = false

format = "$directory$git_branch$git_status$cmd_duration$line_break$shlvl$character"

[directory]
truncation_length = 4
truncation_symbol = "../"

[shlvl]
disabled = false
format = '[$symbol]($style)'
repeat = true
symbol = 'â¯'
repeat_offset = 1
threshold = 0

